@font-face {
    font-family: 'BPG Ingiri Arial 2008';
    src: url('BPGIngiriArial2008.eot');
    src: url('BPGIngiriArial2008.eot?#iefix') format('embedded-opentype'),
        url('BPGIngiriArial2008.woff2') format('woff2'),
        url('BPGIngiriArial2008.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

